body {
  margin: 0;
  font-family: Roboto, sans-serif;
  text-transform: uppercase;

  --hover-color: #00acdc;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  font-size: 12px;
}

.logo {
  display: block;
}

.nav__list {
  margin: 0;
  padding: 0;
  display: flex;
}

.nav__item {
  list-style: none;
}

.nav__item:not(:first-child) {
  margin-left: 20px;
}

.nav__link {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  text-decoration: none;
  color: black;
}

.nav__item :hover {
  color: var(--hover-color);
}

.is-active {
  color: var(--hover-color);
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid var(--hover-color);
  border-radius: 8px;
}
